In [ ]:
import pandas as pd

In [ ]:
# filter out certain data
def gereral_data_filter(df, labels, filter_on, amount_higher_than):
    ## Filter info
    classes_count = labels.groupby(filter_on).count()
    classes_to_keep = list(classes_count[classes_count[classes_count.columns[-1]] >= amount_higher_than].index)
    keep_indices = labels[filter_on].isin(classes_to_keep)
    
    ## delete entries part of class that's too small, remove names column
    return (df[keep_indices].drop(columns=["Unnamed: 0"]), labels[keep_indices])

# First dataset

In [ ]:
%%time

# load labels
labels = pd.read_csv('../data/Lauren/Labels.csv')
#labels.head() # to display the first 5 lines of loaded data

# load data
df = pd.read_csv('../data/Lauren/Filtered_mouse_allen_brain_data.csv') # takes about 5min

CPU times: user 4min 30s, sys: 6.65 s, total: 4min 36s
Wall time: 4min 41s

In [ ]:
%%time

df, labels = gereral_data_filter(df, labels, "cluster", 10)

CPU times: user 1.57 s, sys: 15.3 s, total: 16.9 s
Wall time: 17 s

In [ ]:
df.to_pickle("../data/Lauren/bam_df.pkl")
labels.to_pickle("../data/Lauren/bam_labels.pkl")

# Second dataset

In [ ]:
%%time

# load labels
labels = pd.read_csv('../data/Lauren/CovidBALLabel.csv', usecols=range(1, 7), names=range(-1, 6))

# load data
df = pd.read_csv('../data/Lauren/CovidBALCounts.csv')

CPU times: user 2min 6s, sys: 4.11 s, total: 2min 10s
Wall time: 2min 10s

In [ ]:
labels.head()

        0            1    2        3       4    5
0       G  Neutrophils  NaN      NaN     NaN  NaN
1       L            T  CD4    naive  naive1  NaN
2  Prolif            L    T      CD4     NaN  NaN
3       L            T  CD4  exhaust     NaN  NaN
4     Epi     Ionocyte  NaN      NaN     NaN  NaN

In [ ]:
df.to_pickle("../data/Lauren/covid_df.pkl")
labels.to_pickle("../data/Lauren/covid_labels.pkl")

In [ ]:
%%time
df = pd.read_pickle("../data/Lauren/ba_df.pkl")
labels = pd.read_pickle("../data/Lauren/bam_labels.pkl")